<!DOCTYPE HTML>
<html>
<head>
  <% include partials/header %>
</head>
<body>
	<!-- Preloader -->
	<div id="loader">
	  <div id="loaderInner"></div>
	</div>
<!--Wrapper-->
<div id="wrapper">
	<!--Header-->
	<header id="header" >
		<!--Main header-->
			<div class="mainHeader default">
				<!--Container-->
			<div class="container clearfix">
			<div class="one-third column">
				<!--Logo-->
				<div class="logo">
				<a  class="scroll" href="#wrapper"><h1>Callaborate<span>+</span></h1></a>
				</div>
				<!--End logo-->
			</div>
				<div class="two-thirds column">
						<!--Navigation-->
							<nav id="mainNav" >
								<a href="#" class="mobileBtn" ><i class="icon-menu"></i></a>
							<ul>
								<li><a class="scroll" href="#about">About us</a></li>
								<li><a class="scroll" href="#loginregister">Login/Register</a></li>
							</ul>
							</nav>
						<!--End navigation-->
				</div>
			<!--End container-->
		</div>
		<!--End main header-->
			</div>
	</header>
	<!--End header-->
	<!--Slider-->
	<div class="slider">
		<!--Main slider-->
		<div class=" mainSlider flexslider">
			<ul class="slides">

				<li><img src="images/Callaborate/Header2.png" class="slidenew" alt=""/>
				<div class="caption content">
					<h1>Callaborate</h1>
					<p>Mudahnya Berkolaborasi</p>
				</div>
				</li>

					<li><img src="images/Callaborate/header.png" class="slidenew" alt="" />

						<div class="caption content">
							<h1>Callaborate</h1>
							<p>Cari  +  Telfon  +  Kolaborasi</p>
						</div>

					</li>
			</ul>
		</div>
		<!--End main slider-->
	</div>
	<!--End  slider-->
	<!--About section-->
		<section id="about" class="about offsetBottom">
			<div class="introBg"></div>
			<!--Container-->
			<div class="container clearfix">
				<!--Intro-->
				<div class="eight columns intro">

					<!--Intro-->
					<div class="innerIntro">

					<h1 class="mainTitle content marginmaintitle">Callaborate</h1>
					<p class="anothercontent">Callaborate adalah sebuah service, dimana anak muda Indonesia dapat menemukan partner yang cocok untuk memulai dan mengeksekusi ide mereka.

							Tidak hanya memiliki visi yang sama, kita juga bisa menemukan talenta talenta yang diperlukan dalam startup kita, seperti designer, programmer, dll.

							Pencarian partner dapat ditentukan berdasarkan wilayah, sehingga kita bisa dengan mudah menghubungi mereka untuk bertemu, berkenalan, berdiskusi hingga berkolaborasi.
					</p>

					</div>
					<!--End inner intro-->
				</div>
				<!--End intro-->
				<!--Feature-->
				<div class="eight columns features ">
					<!--Inner features-->
					<div class="featuresInner">

						<!--Feature single-->
						<div class="ft clearfix">
						<div class="ftIco">
							<span class="ico"><i class="icon-lamp"></i></span>
						</div>

						<div class="ftDet">
							<h3>Registrasi</h3>
							<p>Sebelum Menggunakan fitur dari Callaborate, Registrasi terlebih dahulu</p>
						</div>
					</div>
					<!--End feature single-->

					<!--Feature single-->
					<div class="ft clearfix">
					<div class="ftIco">
						<span class="ico"><i class="icon-brush"></i></span>
					</div>

					<div class="ftDet">
						<h3>Lengkapi Data</h3>
						<p>Lengkapi data-data yang diminta dalam form registrasi Callaborate</p>
					</div>
				</div>
				<!--End feature single-->
				<!--Feature single-->
				<div class="ft clearfix">
				<div class="ftIco">
					<span class="ico"><i class="icon-hourglass"></i></span>
				</div>

				<div class="ftDet">
					<h3>Cari</h3>
					<p>Carilah User yang sesuai dengan kebutuhan anda untuk berkolaborasi dalam membuat project</p>
				</div>
			</div>
			<!--End feature single-->
			<!--Feature single-->
				<div class="ft clearfix">
				<div class="ftIco">
					<span class="ico"><i class="icon-hourglass"></i></span>
				</div>
				<div class="ftDet">
					<h3>Dealing</h3>
					<p>Lakukanlah kesepakatan dengan user dalam mengerjakan project</p>
				</div>
			</div>
			<!--End feature single-->
						<!--Feature single-->
				<div class="ft clearfix">
				<div class="ftIco">
					<span class="ico"><i class="icon-hourglass"></i></span>
				</div>

				<div class="ftDet">
					<h3>Kolaborasi</h3>
					<p>Kolaborasi dengan user yang telah sepakat dengan kesepakatan bersama dalam mengerjakan project, Selamat Bekerja!</p>
				</div>
			</div>
			<!--End feature single-->
					</div>
					<!--End inner features-->
				</div>
				<!--End features-->
			</div>
			<!--End container-->
  		</section>
  		<!--End about section-->
      <!--Start loginregister section-->
  	     <section id="loginregister">
            <div class="cont">
              <div class="form sign-in">
                <h2>Selamat Datang Kembali</h2>
                <label>
                  <span>Email</span>
                  <input type="email" />
                </label>
                <label>
                  <span>Password</span>
                  <input type="password" />
                </label>
                <p class="forgot-pass">Lupa password?</p>
                <button type="button" class="submit">Sign In</button>
                <button type="button" class="fb-btn">Connect with <span>facebook</span></button>
              </div>
              <div class="sub-cont">
                <div class="img">
                  <div class="img__text m--up">
                    <h2 class="whiteh2">Belum Terdaftar?</h2>
                    <p>Daftar dan temukan kesempatan bagus!</p>
                  </div>
                  <div class="img__text m--in">
                    <h2 class="whiteh2">Sudah terdaftar?</h2>
                    <p>Kalau sudah, Silahakan login</p>
                  </div>
                  <div class="img__btn">
                    <span class="m--up">Sign Up</span>
                    <span class="m--in">Sign In</span>
                  </div>
                </div>
                <div class="form sign-up">
                  <form action="/register" method="post">
                    <h2>Ayo Mulai Berkolaborasi!</h2>
                    <label>
                      <span>Nama</span>
                      <input type="text" name="fullname" />
                    </label>
                    <label>
                      <span>Email</span>
                      <input type="email" name="email" />
                    </label>
                    <label>
                      <span>Password</span>
                      <input type="password" name="password" />
                    </label>
                    <button class="submit">Sign Up</button>
                    <button class="fb-btn">Join with <span>facebook</span></button>
                  </form>
                </div>
              </div>
            </div>
        </section>
        <!--End loginregister section-->
							<!--Footer-->
							<footer id="footer" class="footer">
							<!--Footer holder-->
							<div class="footerholder">
									<!--Container-->
									<div class="container clearfix">
										<ul class="socialsFooter">
											<li><a href="#"><i class="icon-facebook"></i></a></li>
											<li><a href="#"><i class="icon-twitter"></i></a></li>
											<li><a href="#"><i class="icon-gplus"></i></a></li>
										</ul>
											<p>&copy; <span class="brand">Callaborate</span> All Rights Reserved.</p>
							</div>
								<!--End container-->
							</div>
								<!--End foter holder-->
						</footer>
					<!--End footer-->
</div>
<!--End wrapper-->

<!--Javascript-->
<% include partials/footer %>

</body>
</html>
