<form action="/firstlogindone" method="post">
  <input type="text" placeholder="Gender" name="gender"/>
  <input type="text" placeholder="Age" name="age"/>
  <input type="text" placeholder="location" name="location"/>
  <input type="text" placeholder="Skills" name="skills"/>
  <input type="text" placeholder="Vision" name="vision"/>
  <input type="text" placeholder="Interest" name="interest"/>
  <button>Submit</button>
</form>
